<div class="row-fluid" id="down">
  <div class="span12">
    <%= image_tag("wheelsdown_main.png") %>
    <div class="row-fluid">
      <div class="span8">
        <%= gmaps4rails(@rides_gmails) %>
        <h3>Great Rides Tomorow</h3>
        <% @rides.each do |ride| %>
          <%= ride.ridename %>,
          <%= ride.state %><br/>
          <hr>
        <% end %>
      </div>

      <div class="span4">
          <%= form_for @new_ride do |f| %>
            <%= f.hidden_field :latitude %>
            <%= f.hidden_field :longitude %>
            <%= f.label :ridename %> 
            <%= f.text_field :ridename %> 
            <%= f.label :difficulty %>
            <%= f.text_field :difficulty %>
            <%= f.label :length %>
            <%= f.text_field :length %>
            <%= f.label :date %>
            <%= f.text_field :date %>
            <%= f.label :time %>
            <%= f.text_field :time %>
            <br>
         <%= f.submit "Create Ride" %>
        <% end %>
      </div>
    </div>
  </div>
</div>